@using UniDwe.Models.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Authorization";
}

<div>
    <form action="/login" method="post">
        <p>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
        </p>
        <p>
            <label>Password</label>
            <input name="Password" type="password" />
        </p>
        <button>LogIn</button>
    </form>
</div>
    
