@using UniDwe.Models.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Authorization";
}

<div>
    <form action="/login" method="post" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>
        <p>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </p>
        <p>
            <label>Password</label>
            <input name="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </p>
        <button>LogIn</button>
    </form>
</div>