@using UniDwe.Models.ViewModel
@model RegistrationViewModel

@{
    ViewData["Title"] = "Registration"; 
}

<div>
   <form action ="/registration" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label>UserName</label>
            <input name="UserName" value="@Model.Email" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </p>
       <p>
         <label>Email</label>
         <input name="Email" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
       </p>
       <p>
            <label>Password</label>
            <input name="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
       </p>
       <button>Sign up</button>
   </form>
</div>